body {
    background: #FFCF00;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-not-found {
    margin: auto;
    display: block;
    height: 500px;
    width: auto;
}